<h1 class="bg">
    <button mat-icon-button style="color:navy; margin-right: 10px;" class="right-btn">
      <mat-icon>help_outline</mat-icon>
      <label style="font: weight 500px; font-size: large;">Help</label>
    </button>
    <button mat-icon-button style="color:navy; margin-right: 10px;" class="right-btn">
      <mat-icon>help_outline</mat-icon>
      <label style="font: weight 500px;; font-size: large;">Contact Us</label>
    </button>
    <div class="login">
      <div style="border-top-left-radius: 4px; text-align: left; border-top-right-radius: 4px; margin-bottom: 0px; padding:24px auto;">
      <h1 class="login-header">Reset password</h1>
    </div>
      <form [formGroup]="resetForm" class="login-container" *ngIf="!sentCode">
    
        <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
          <input required type="email" placeholder="Username" formControlName="username">
      </div>
        <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
          <button class="button" type="button" (click)="sendCode()">Send Code</button>
          <hr style="margin-top: 24px; margin-bottom: 8px; border-color: grey;">
        </div>
        <div style="margin-bottom: 10%;">
          <span class="left-btn">
          <a routerLink="/login">Back to Sign In</a>
        </span>
    </div>
        <h1></h1>
      </form>
      <form [formGroup]="resetForm" class="login-container" *ngIf="sentCode">
    
        <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
          <input required placeholder="Verification Code" formControlName="code">
      </div>
      <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
        <input required type="password" placeholder="New Password" formControlName="newPassword">
    </div>
        <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
          <button class="button" mat-raised-button [class.spinner]="loading" [disabled]="loading" (click)="onSubmit()">Submit</button>
          <hr style="margin-top: 24px; margin-bottom: 8px; border-color: grey;">
        </div>
        <div style="margin-bottom: 10%;">
          <span class="left-btn">
          <a routerLink="/login">Back to Sign In</a>
        </span>
    </div>
        <h1></h1>
      </form>
    </div>
  </h1>
  
  