.example-spacer {
    flex: 1 1 auto;
  }
.header{
    background:navy;
    font-style: italic;
    color: white;
    width: 100%;
} 



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    
  }



.h2{
    justify-content: center; 
    display: flex;
    font-size:x-large;
}


.button{
  width: auto; 
  padding-top: 4px; 
  padding-bottom: 4px; 
  outline: 2px solid transparent;
  height: 37px;
  outline-offset: 2px;
  background:orangered;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}


html, body{
    background-color:whitesmoke;
}

.left-btn { float: left; }
.right-btn { float: right; }

.Profile{
    background: #EEE;
    padding: 30px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;    
    align-self: center;
    align-tracks: center;
    
  }

  // temp changes