<body style="scroll-behavior: unset;">

  <p>
    <mat-toolbar class="header">
      <button mat-icon-button style="color: lightsalmon;" (click)="onHome()"> 
      <mat-icon>home</mat-icon>
    </button>
    <span style="font-style: italic; color: lightsalmon;">Welcome Hema!</span>
    <span class="example-spacer"></span>
    
   <button mat-icon-button style="color: lightsalmon;" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="logOut()" mat-menu-item style="color: orangered; width: min-content;">
      <mat-icon style="color: orangered;">feedback</mat-icon>
      <span style="font:weight 500px;" ><a routerLink="/feedback">Feedback/Complaints</a></span>
    </button>
    <button (click)="logOut()" mat-menu-item style="color: orangered; width: min-content;">
      <mat-icon style="color: orangered;">logout</mat-icon>
      <span style="font:weight 500px;">Logout?</span>
    </button>
   
  </mat-menu>
  </mat-toolbar>
  </p>
  
  

  
  <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 Profile ">
      <form   *ngIf="isEditEnable"  >
         
          <h2 class="h2">Personal Details</h2>
           
          <p> Name: <Label> Priyanka</Label></p>
          <p>SUID: <label  >284450180 </label></p>
          <p>Email ID: <label >abc@syr.edu </label></p>
          <p>Phone number: <label  >+1 3153830022 </label></p>
          <p>User ID: <label >PriyankaBalwadkar0000</label> </p>
          <p>Password: <label >******</label> </p> 
          <div >
            <span><button class="button" type="button" (click)="onEdit()">Edit Personal Details</button>
            </span>
            <span style = "margin-left: 30px;">
              <button class="button" type="button" (click)="onUpdatePassword()">Update Password</button>
            </span>
          </div>
      </form>
    
        

    <form *ngIf="!isEditEnable"> 
    
          
            <p>User name: <input required value="priyanka" formControlName="nameInput"  > </p>
          
            <p>SUID: <input required type="number" value="284450180" formControlName="suidInput"> </p>
          
            <p>Email ID: <input required type="email" value="abc@syr.edu" formControlName="emailIdInput" ></p>
          
          <div   >
            <span class="margin-left">
              Phone number: <label style="text-align: center; margin-right: 10px; margin-left: 25px;">+1</label>
            </span>
            <span class="margin-right">
              <input style="width: 30%;" required type="number" value="3153830022" formControlName="phoneNumber">
              
            </span>
          </div>
          <p></p>
          <div style="width: 100%; margin-top:50px; margin-bottom: 0.75rem; position: relative;"  >
            <span ><button class="button" type="button" (click)="onEditProfileSubmit()">Submit</button></span>
            <span style = "margin-left: 30px;"><button class="button" type="button" (click)="onEditProfileCancel()">Cancel</button> </span>
          </div>
 
    </form>   
      
  </div>
    
    <div>
      <footer class="footer" style="background-color:navy; margin-right: 10px;">
      </footer>
    </div>
</body>

