<h1 class="bg">
    <button mat-icon-button style="color:navy; margin-right: 10px;" class="right-btn">
      <mat-icon>help_outline</mat-icon>
      <label style="font: weight 500px; font-size: large;">Help</label>
    </button>
    <button mat-icon-button style="color:navy; margin-right: 10px;" class="right-btn">
      <mat-icon>help_outline</mat-icon>
      <label style="font: weight 500px;; font-size: large;">Contact Us</label>
    </button>
    <div class="login">
      <div style="border-top-left-radius: 4px; border-top-right-radius: 4px; margin-bottom: 0px; padding:24px auto;">
      <h2 class="login-header">Food O'Clock</h2>
    </div>
      <form [formGroup]="signUpForm" class="login-container">
    
        <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
          <input required placeholder="Username" formControlName="username">
          <mat-error *ngFor="let validation of account_validation_messages.username">
            <mat-error class="error-message" *ngIf="(signUpForm.get('username').hasError(validation.type) && (signUpForm.get('username').dirty || signUpForm.get('username').touched))">{{validation.message}}</mat-error>
          </mat-error>
            <mat-error class="error-message" *ngIf="errorMessage !='' && signUpForm.get('username').value != ''">{{errorMessage}}
          </mat-error>
      </div>
      <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
        <input required type="number" placeholder="SU ID" formControlName="suid">
        <mat-error *ngFor="let validation of account_validation_messages.suid">
          <mat-error class="error-message" *ngIf="signUpForm.get('suid').hasError(validation.type) && (signUpForm.get('suid').dirty || signUpForm.get('suid').touched)">{{validation.message}}</mat-error>
        </mat-error>
    </div>
      <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
        <input required type="email" placeholder="Email Id" formControlName="email">
        <mat-error *ngFor="let validation of account_validation_messages.email">
          <mat-error class="error-message" *ngIf="(signUpForm.get('email').hasError(validation.type) && (signUpForm.get('email').dirty || signUpForm.get('email').touched)) || (signUpForm.get('email').hasError(validation.type) && signUpForm.get('email').emailDomain)">{{validation.message}}</mat-error>
        </mat-error>
    </div>    
        <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
          <input required type="password" placeholder="Password" formControlName="password">
          <mat-error *ngFor="let validation of account_validation_messages.password">
            <mat-error class="error-message" *ngIf="signUpForm.get('password').hasError(validation.type) && (signUpForm.get('password').dirty || signUpForm.get('password').touched)">{{validation.message}}</mat-error>
          </mat-error>
      </div>
      <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
        <span class="left-btn">
        <label style="text-align: center; margin-right: 10px; margin-left: 25px;">+1</label>
    </span>
    <span>
        <input style="width: 85%;" required type="number" placeholder="Phone Number" formControlName="phoneNumber">
        <mat-error *ngFor="let validation of account_validation_messages.phoneNumber">
          <mat-error class="error-message" *ngIf="signUpForm.get('phoneNumber').hasError(validation.type) && (signUpForm.get('phoneNumber').dirty || signUpForm.get('phoneNumber').touched)">{{validation.message}}</mat-error>
        </mat-error>
    </span>
    </div>
        <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
          <button class="button" mat-raised-button [class.spinner]="loading" [disabled]="loading" (click)="signUp()">Sign Up</button>
          <hr style="margin-top: 24px; margin-bottom: 8px; border-color: grey;">
        </div>
        <div style="margin-bottom: 30px;">
          <span class="left-btn">
          <a routerLink="/login">Back to Sign In</a>
        </span>
    </div>
        <h1></h1>
      </form>
    </div>
  </h1>
  
  