.example-spacer {
    flex: 1 1 auto;
  }
.header{
    background:navy;
    font-style: italic;
    color: white;
} 

ul.block > li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
}

.tile_text{
    text-shadow: 5px 5px 15px navy;
    justify-content: center; 
    display: flex; 
    color: white; 
    font-style: italic;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    
  }

.grid{
    display: grid;
    align-content: center;
    justify-content: center;
    gap:4rem;
    margin: 15px auto;
    padding: 40px;
    grid-template-rows: 190px;
    grid-template-columns: repeat(3,25%);
    background-blend-mode: lighten;
}

h2{
    justify-content: center; 
    display: flex;
}

.tile{
    background-color:orangered;
    background-blend-mode:screen;
    --tw-bg-opacity: 2;
    border-radius: 0.25rem;
    border-width: 1px;
    box-shadow: 10px 5px 5px silver;
    padding: 1rem;
}

ul.block.container > li {
    background-color: orangered;
    border-radius: 0.25rem;
    border-width: 1px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 00.5rem;
    width: 100%;
}

html, body{
    background-color:whitesmoke;
}

.left-btn { float: left; }
.right-btn { float: right; }