<body style="scroll-behavior: unset;">
<p>
    <mat-toolbar class="header">
    <span style="font-style: italic; color: lightsalmon;">Welcome Hema!</span>
    <span class="example-spacer"></span>
   <button mat-icon-button style="color: lightsalmon;" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="logOut()" mat-menu-item style="color: orangered; width: min-content;">
      <mat-icon style="color: orangered;">feedback</mat-icon>
      <span style="font:weight 500px;" ><a routerLink="/feedback">Feedback/Complaints</a></span>
    </button>
    <button (click)="logOut()" mat-menu-item style="color: orangered; width: min-content;">
      <mat-icon style="color: orangered;">logout</mat-icon>
      <span style="font:weight 500px;">Logout?</span>
    </button>
   
  </mat-menu>
  </mat-toolbar>
  </p>
  <!-- <ul class="block container">
    <li *ngFor="let tile of tiles">{{tile}}</li>
  </ul> -->

  <div class="grid">
    <div class="tile" (click)="onProfile()">
      <h2>
        <img style="width: 90px;" src="https://st4.depositphotos.com/10376142/25199/v/1600/depositphotos_251994690-stock-illustration-blue-users-group-icon-isolated.jpg">
      </h2>
      <h2 class="tile_text">Profile</h2>
    </div>
    <div class="tile" (click)="onSchedule()">
      <h2>
        <img style="width: 90px;" src="https://previews.123rf.com/images/magurok/magurok1403/magurok140300159/26454911-schedule-icon.jpg">
      </h2>
      <h2 class="tile_text">Schedule</h2>
    </div>
    <div class="tile" (click)="onNews()">
      <h2>
        <img style="width: 90px;" src="https://previews.123rf.com/images/asmati/asmati1705/asmati170503781/78034863-tv-news-microphone-sign-illustration-vector-red-scribble-icon-obtained-as-a-result-of-subtraction-rh.jpg">
      </h2>
      <h2 class="tile_text">News</h2>
    </div>
    <div class="tile" (click)="onFeedback()">
      <h2>
        <img style="width: 90px;" src="https://mopt.com.au/wp-content/uploads/2020/09/Feedback-icon-3.png">
      </h2>
      <h2 class="tile_text">Feedback</h2>
    </div>
  </div>
  <div>
    <footer class="footer" style="background-color:navy; margin-right: 10px;">
    </footer>
  </div>
  </body>