<h1 class="bg">
  <button mat-icon-button style="color:navy; margin-right: 10px;" class="right-btn">
    <mat-icon>help_outline</mat-icon>
    <label style="font: weight 500px; font-size: large;">Help</label>
  </button>
  <button mat-icon-button style="color:navy; margin-right: 10px;" class="right-btn">
    <mat-icon>help_outline</mat-icon>
    <label style="font: weight 500px;; font-size: large;">Contact Us</label>
  </button>
  <div class="login">
    <div style="border-top-left-radius: 4px; border-top-right-radius: 4px; margin-bottom: 0px; padding:24px auto;">
    <h2 class="login-header">Food O'Clock</h2>
  </div>
    <form [formGroup]="loginForm" class="login-container">
      <!-- <div style="width: 100%; margin-bottom: 0.75rem; position: relative;"> -->
        <span style="color:red; font-size: small;">{{errorMessage}}</span>
    <!-- </div> -->
      <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
        <input required type="email" placeholder="Username" formControlName="username">
    </div>
  
      <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
        <input required type="password" placeholder="Password" formControlName="password">
    </div>
      <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
        <button class="button" mat-raised-button [class.spinner]="loading" [disabled]="loading" (click)="login()">Sign In</button>
        <hr style="margin-top: 24px; margin-bottom: 8px; border-color: grey;">
      </div>
      <div style="margin-bottom: 10%;">
        <span class="left-btn">
        <a routerLink="/forgotPassword">Forgot your password?</a>
      </span>
      <span class="right-btn">
        <a routerLink="/signUp">Sign Up?</a>
        <!-- routerLink="/signUp" -->
      </span>
    </div>
      <h1></h1>
    </form>
  </div>
</h1>

