@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.login {
  width: 400px;
  margin: 16px auto;margin-top: 0;
  font-size: 16px;
  padding-top: 8%;
}

.login-header {
  margin-top: 0;
  margin-bottom: 0;
  background: orangered;
  padding: 15px;
  font-size: 1.6em;
  font-weight: 450;
  text-align: center;
  text-transform:inherit;
  font-style: normal;
  text-shadow: 5px 5px 10px brown;
  color: navy;
}

.button{
  width: 100%; 
  padding-top: 4px; 
  padding-bottom: 4px; 
  outline: 2px solid transparent;
  height: 37px;
  outline-offset: 2px;
  background:orangered;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.login-container {
  background: #fafbfc;
  padding: 20px;
  border: 1px solid #6F777D;

}

.login input {
  height: 45px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border: 1px solid #AAAAAA;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
  background-color: rgb(232, 240, 254) !important;
  appearance: menulist-button;
  color: -internal-light-dark(black, white) !important;
}

.left-btn { float: left; color: navy;}
.right-btn { float: right; color: navy}

button {
	overflow: visible;
	width: auto;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("/assets/food.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}