<h1 class="bg">
  <p>
    <mat-toolbar class="header">
      <button mat-icon-button style="color: lightsalmon;" (click)="onHome()"> 
      <mat-icon>home</mat-icon>
    </button>
    <span style="font-style: italic; color: lightsalmon;">Welcome Hema!</span>
    <span class="example-spacer"></span>
    
   <button mat-icon-button style="color: lightsalmon;" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="logOut()" mat-menu-item style="color: orangered; width: min-content;">
      <mat-icon style="color: orangered;">feedback</mat-icon>
      <span style="font:weight 500px;" ><a routerLink="/feedback">Feedback/Complaints</a></span>
    </button>
    <button (click)="logOut()" mat-menu-item style="color: orangered; width: min-content;">
      <mat-icon style="color: orangered;">logout</mat-icon>
      <span style="font:weight 500px;">Logout?</span>
    </button>
   
  </mat-menu>
  </mat-toolbar>
  </p>  



      <form [formGroup]="resetForm" class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 UpdatePwd" *ngIf="!sentCode">
        <h2 class="h2">Update Password</h2>
        <div >
          <label >Please enter your username</label>
          <input required type="email" placeholder="Username" formControlName="username">
      </div>
        <div >
          <span>
          <button class="button" type="button" (click)="sendCode()">Send Code</button></span>
          <span style = "margin-left: 30px;">
          <button class="button" type="button" (click)="onCancel()">Cancel</button></span>
        </div>
        <h1></h1>
      </form>
      <form [formGroup]="resetForm" class="login-container" *ngIf="sentCode">
    
        <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
          <input required placeholder="Verification Code" formControlName="code">
      </div>
      <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
        <input required type="password" placeholder="New Password" formControlName="newPassword">
    </div>
        <div style="width: 100%; margin-bottom: 0.75rem; position: relative;">
          <button class="button" type="button" (click)="onSubmit()">Submit</button>
          <hr style="margin-top: 24px; margin-bottom: 8px; border-color: grey;">
        </div>
        <div style="margin-bottom: 10%;">
          <span class="left-btn">
          <a routerLink="/login">Back to Sign In</a>
        </span>
    </div>
        <h1></h1>
      </form>

  </h1>
  
  