@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

// .login {
//   width: 400px;
//   margin: 16px auto;margin-top: 0;
//   font-size: 16px;
//   padding-top: 8%;
// }


.h2{
    justify-content: center; 
    display: flex;
    font-size:x-large;
}


.header{
    background:navy;
    font-style: italic;
    color: white;
    width: 100%;
} 


.button{
  width: auto; 
  padding-top: 4px; 
  padding-bottom: 4px; 
  outline: 2px solid transparent;
  height: 37px;
  outline-offset: 2px;
  background:orangered;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.UpdatePwd{
    background: #EEEE;
    padding: 30px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;    
    align-self: center;
    align-tracks: center;
    
  }

.login input {
  box-sizing: border-box;
  height: 45px;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border: 1px solid #AAAAAA;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
  background-color: rgb(232, 240, 254) !important;
  appearance: menulist-button;
  color: -internal-light-dark(black, white) !important;
}

.left-btn { float: left; color: navy;}
.right-btn { float: right; color: navy}

.button {
	overflow: visible;
	width: auto;
   align-self: center;
    margin-left: 30%;
    margin-right: 30%;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}