<div mat-dialog-content>
    <h2>{{message}}</h2>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onConfirm()" cdkFocusInitial>Okay</button>
    <!-- <button mat-raised-button color="primary" (click)="onConfirm()">Okay</button> -->
</div>