<div mat-dialog-content>
	<!-- let symbols of element.symbol" -->
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 " style="width:100%">
		<ng-container matColumnDef="time">
			<th mat-header-cell *matHeaderCellDef> </th>
			<td mat-cell style="width: 50%px; margin-right: 5px;" *matCellDef="let element"> {{element.time}} </td>
		</ng-container>

		<ng-container matColumnDef="symbol">
			<th mat-header-cell *matHeaderCellDef><h2> Employees</h2> </th>
			<td mat-cell *matCellDef="let element">
				<mat-form-field class="example-chip-list">
				<mat-chip-list #chipList>
					<mat-chip *ngFor="let symbols of element.symbol" [selectable]="selectable" [removable]="removable"
						(removed)="remove(symbols)">
						{{symbols}}
						<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
					</mat-chip>
					<input #fruitInput [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						(matChipInputTokenEnd)="add($event)">
				</mat-chip-list>
			</mat-form-field>
			</td>

		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<!-- </div> -->
	<div mat-dialog-actions align="center">
		<button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
		<button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
		</div>