<body style="scroll-behavior: unset;">
  <p>
    <mat-toolbar class="header">
      <button mat-icon-button style="color: lightsalmon;" (click)="onHome()"> 
        <mat-icon>home</mat-icon>
      </button>
      <span style="font-style: italic; color: lightsalmon;">Welcome Hema!</span>
      <span class="example-spacer"></span>
     <button mat-icon-button style="color: lightsalmon;" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon >settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="logOut()" mat-menu-item style="color: orangered; width: min-content;">
        <mat-icon style="color: orangered;">feedback</mat-icon>
        <span style="font:weight 500px;">Feedback /Complaints</span>
      </button>
      <button (click)="logOut()" mat-menu-item style="color: orangered; width: min-content;">
        <mat-icon style="color: orangered;">logout</mat-icon>
        <span style="font:weight 500px;">Logout?</span>
      </button>


    </mat-menu>
    </mat-toolbar>
  </p>
        
   
      <!-- <ul class="block container">
        <li *ngFor="let tile of tiles">{{tile}}</li>
      </ul> -->

      
      <mat-tab-group>
        <mat-tab label="Feedback"> 
          <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 feedbackBox "> 
     
          <form [formGroup]="feedbackForm" (ngSubmit)="sendFeedback()" novalidate name = "feedbackForm">
            <h2 class="text-center">Feedback Form</h2>
          
            <div class="alert alert-success" *ngIf="msg">
              {{msg}}
            </div>
            
            
            <div class="form-group clearfix" [ngClass]="{'has-error':submitted && feedbackForm.controls['shiftDate'].errors}">
                <label for="shiftDate">Select the date for the shift </label>
                
                <input matInput [matDatepicker]="picker" style="margin-left: 30px;" formControlName="shiftDate" placeholder="mm/dd/yyyy" required> 
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div *ngIf="submitted && feedbackForm.controls['shiftDate'].errors" class="help-block">
                    <div *ngIf="feedbackForm.controls['shiftDate'].errors.required">Date is required.</div>
                </div>
            </div>
  
            <div class="form-group clearfix" [ngClass]="{'has-error':submitted && feedbackForm.controls['shifts'].errors}">
              <label for="shifts">Select the shift times</label>
              
              <select class="form-control" name="shifts" formControlName="shifts">
                <option *ngFor="let choice of shifts;" [value]="choice.id">{{choice.value}}</option>
              </select>
              <div *ngIf="submitted && feedbackForm.controls['shifts'].errors" class="help-block">
                  <div *ngIf="feedbackForm.controls['shifts'].errors.required">Shift time is required.</div>
              </div>
          </div>
  
          <div class="form-group clearfix" [ngClass]="{'has-error':submitted && feedbackForm.controls['shifts'].errors}">
            <label for="students">Select the Student</label>
            
            <select class="form-control" name="students" formControlName="students">
              <option *ngFor="let choice of students;" [value]="choice.id">{{choice.value}}</option>
            </select>
            <div *ngIf="submitted && feedbackForm.controls['students'].errors" class="help-block">
                <div *ngIf="feedbackForm.controls['students'].errors.required">Student Field is required.</div>
            </div>
        </div>
  
  
            <div class="form-group clearfix" [ngClass]="{'has-error':submitted && feedbackForm.controls['msg'].errors}">
                <label for="msg">Please leave your feedback below</label>
      
                <textarea class="form-control" formControlName="msg" rows="5" minlength="8" maxlength="100" placeholder="Write your valuable feedback"
                    required></textarea>
                <div *ngIf="submitted && feedbackForm.controls['msg'].errors" class="help-block">
                    <div *ngIf="feedbackForm.controls['msg'].errors.required">Message is required.</div>
                    <div *ngIf="feedbackForm.controls['msg'].errors.minlength">Message must be at least 8 characters long.</div>
                    <div *ngIf="feedbackForm.controls['msg'].errors.maxlength">Message must be at most 200 characters long.</div>
                </div>
      
            </div>
            <div class="form-group text-right">
                <button class="btn btn-primary pull-right" type="submit" [disabled]="submitted && feedbackForm.invalid">Submit</button>
                <button class="btn btn-primary pull-right" type="cancel" >Cancel</button>
           
              </div>
          </form>
        </div> 
        </mat-tab>

        <mat-tab label="Complaint"> 
          
      <!-- For complaint form-->
      <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 complaintBox " > 
        
        <form [formGroup]="complaintForm" (ngSubmit)="sendComplaint()"  novalidate>
          <h2 class="text-center">Complaint Form</h2>
        
          <div class="alert alert-success" *ngIf="msg">
            {{msg}}
          </div>
          
          <div class="form-group clearfix" [ngClass]="{'has-error':submitted && complaintForm.controls['msg'].errors}">
              <label for="msg">Please leave your complaints below</label>
    
              <textarea class="form-control" formControlName="msg" rows="5" minlength="8" maxlength="100" placeholder="Write your complaint"
                  required></textarea>
              <div *ngIf="submitted && complaintForm.controls['msg'].errors" class="help-block">
                  <div *ngIf="complaintForm.controls['msg'].errors.required">Message is required.</div>
                  <div *ngIf="complaintForm.controls['msg'].errors.minlength">Message must be at least 8 characters long.</div>
                  <div *ngIf="complaintForm.controls['msg'].errors.maxlength">Message must be at most 200 characters long.</div>
              </div>
    
          </div>
          <div class="form-group text-right">
              <button class="btn btn-primary pull-right"  type="submit" [disabled]="submitted && complaintForm.invalid">Submit</button>
          </div>
        </form>
      </div> 
      
        </mat-tab>
        
      </mat-tab-group>



        
        


      
      <div>
        <footer class="footer" style="background-color:navy; margin-right: 10px;">
        </footer>
      </div>
      </body>
