.example-spacer {
  flex: 1 1 auto;
}
.header{
  padding: 0;
  z-index: 10;
  margin: 0;
  background:navy;
  font-style: italic;
  color: white;
} 

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  
}

html, body{
  background-color:whitesmoke;
}

.left-btn { float: left; }
.right-btn { float: right; }

.feedbackBox{
  background: #EEE;
  padding: 30px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-self: center;
  align-tracks: center;
  
}
.complaintBox{
  background: #EEE;
  padding: 30px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-self: center;
  align-tracks: center;
  
}